$primaryColor: #BADA55;

@font-face {
    font-family: "Dank Mono";
    src: url("../fonts/DankMono-Regular.ttf");
}

@font-face {
    font-family: "Dank Mono";
    src: url("../fonts/DankMono-Italic.ttf");
    font-style: italic;
  }